* {
    list-style-type: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 8rem;
}

#content {
    width: 30rem;
}

figure {
    text-align: center;
}

img {
    width: 100%;
}


.timings, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}