body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    width: 30rem;
}

section {
    display: flex;
    flex-direction: column;
}

/* .image {
    content: url(img/prawns.jpg);
} */

.timings, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}